<%= render "shared/header" %>
<div class='main'>
 <div class='item-contents'>
  <h2 class='title'>検索結果</h2>
    <%= link_to '投稿商品', items_path, class: "subtitle" %>    
    <ul class='item-lists'>
      <% @items.each do |item| %>
      <li class='list'>
        <%= link_to item_path(item) do %>
        <div class='item-img-content'>
          <%= image_tag item.image, class: "item-img" %>
          <% if item.purchase.present?%>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
          <%end%>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円<br><%= item.shipping.name %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>
 </div>
</div>